<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Uredi Trening</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='logo.svg') }}" alt="Knjižnica Treningov">
            <div>
                <h1>Uredi trening</h1>
                <nav>
                    <a href="{{ url_for('index') }}">Vsi Treningi</a>
                    <a href="{{ url_for('my_trenings') }}">Moji Treningi</a>
                    <a href="{{ url_for('logout') }}">Odjava</a>
                </nav>
            </div>
        </header>
    <p><a href="{{ url_for('trening_detail', trening_id=trening.id) }}">Nazaj na trening</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="message">
          <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('edit_trening', trening_id=trening.id) }}">
        <label for="name">Ime treninga / vaje</label>
        <input type="text" id="name" name="name" value="{{ trening.name }}" required>

        <label for="sport">Šport</label>
        <input type="text" id="sport" name="sport" value="{{ trening.sport }}" required>

        <label for="difficulty">Težavnost</label>
        <input type="text" id="difficulty" name="difficulty" value="{{ trening.difficulty }}" required>

        <label for="description">Opis</label>
        <textarea id="description" name="description" required>{{ trening.description }}</textarea>

        <label for="duration">Trajanje</label>
        <input type="text" id="duration" name="duration" value="{{ trening.duration }}" required>

        <label for="equipment">Potrebna oprema</label>
        <input type="text" id="equipment" name="equipment" value="{{ trening.equipment }}" required>

        <button type="submit">Shrani spremembe</button>
    </form>
        <footer>
            <p>Urejanje treninga.</p>
        </footer>
    </div>
</body>
</html>
